<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />

  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/responsive.css">
  <!-- <link rel="stylesheet" href="css/mdb.min.css" /> -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <link rel="stylesheet" href="css/swiper.css">
  <link rel="stylesheet" href="css/swiper2.css">
  <title>Document</title>


</head>

<body>
  <header>

    <nav class="navbar navbar-expand-custom navbar-mainbg">
      <a class="navbar-brand navbar-logo" href="#"><img src="Image/ECOMgroww.webp.webp" alt="image"
          class="logo-image"></a>
      <button class="navbar-toggler" type="button" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <i class="fas fa-bars text-white"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <div class="hori-selector">
            <div class="left"></div>
            <div class="right"></div>
          </div>
          <li class="nav-item">
            <a class="nav-link" href="index.html"><i class="fas fa-tachometer-alt"></i>Home</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="javascript:void(0);"><i class="far fa-calendar-alt"></i>Calendar</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="services.html"><i class="far fa-address-book"></i>Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:void(0);"><i class="far fa-clone"></i>Contact us</a>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="javascript:void(0);"><i class="far fa-chart-bar"></i>Charts</a> -->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="About_us.html"><i class="far fa-copy"></i>About us</a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <swiper-container style="--swiper-navigation-color: #fff; --swiper-pagination-color: #fff" class="mySwiper"
    speed="600" parallax="true" pagination="true" pagination-clickable="true" navigation="true">
    <div slot="container-start" class="parallax-bg" style="background-color: rgb(242,236,234) ;"
      data-swiper-parallax="-23%"></div>
    <swiper-slide class="swiperAnimation">
      <div class="main-heading-swiper-container animation">
        <div class="title" data-swiper-parallax="-300" style="margin-bottom: 1.2rem;">
          <h1 id="heading1" class="name-of-comp" style="color: rgb(141, 173, 199);">ECOM<span
              style="color: green;">groww</span> </h1>
        </div>
        <div class="text" data-swiper-parallax="-100">
          <p class="company-details"  style="color: #5161ce; font-size: 1rem; text-align: center;">
            Welcome to ECOMgroww, your one-stop destination for
            unlocking the full potential of
            your
            business! Whether you're an entrepreneur, a small business owner, or a marketing professional, our website
            is
            designed to empower you with the tools, resources, and strategies needed to drive substantial sales growth.
          </p>
        </div>
        <div class="styleImage">
          <img src="Image/busy-project-manager-overwhelmed-by-work.jpg" alt="image" class="company-name-image">
        </div>
      </div>
    </swiper-slide>
  </swiper-container>

  <!-- services container start -->
  <div class="service-cont">
    <div id="services-text-cont">
       <div class="text-mainHead-cont animation">
       <h6 class="services-mainHead" style="color: rgb(43,186,252); margin-bottom: 1.2rem;">OUR SERVICES</h6>  
       </div>
       <div class="text-head-cont animation">
         <h1 class= "services-text-head" style="margin-bottom: 1.2rem;">We Provide A Lot of Cool Services</h1>
       </div>
       <div class="text-cont animation">
          <div class="service-text" style="font-size: 1.2em;">
           Our digital marketing services empower your brand's online presence.
           We specialize in SEO, social media management, content creation, and data-driven strategies.
           By optimizing your digital footprint, we enhance visibility, engage your target audience, and drive growth.
           Let us elevate your online marketing game for lasting success.
          </div>
          </div>
    </div>
    <div id="services-items-cont">
     <div class="services-item col1 animation">
       <h2>Marketing</h2>
       <div class="marketing-text-cont">
         <p class="marketing-text" style="text-align: center; margin-top: 25px;">
           Full marketing services SEO, social media,
            content creation, data-driven strategies for brand growth and success.
         </p>
       </div>
     </div>
     <div class="services-item col2 animation" >
       <h2>SEO</h2>
       <div class="seo-text-cont">
         <p class="seo-text" style="text-align: center; margin-top: 25px;">
           SEO boosts website visibility, drives organic traffic with keyword optimization, content improvement, and technical enhancements.
         </p>
       </div>
     </div>
     <div class="services-item col3 animation">
       <h2>Web Developer</h2>
       <div class="web-text-cont">
         <p class="web-text" style="text-align: center; margin-top: 25px;">
           Web developers use HTML, CSS, JavaScript to create and maintain sites, aligning design with client goals.
         </p>
       </div>
     </div>
     <div class="services-item col4 animation">
       <h2>Creative</h2>
       <div class="creative-text-cont">
         <p class="creative-text" style="text-align: center; margin-top: 25px;">
           Creative ideas inspire, engage, and drive fresh perspectives, fostering problem-solving, artistic expression, and business growth.
         </p>
       </div>
     </div>
     <div class="services-item col5 animation" >
       <h2>E-Commerce</h2>
       <div class="ecom-text-cont">
         <p class="ecom-text" style="text-align: center; margin-top: 17px;">
           "E-commerce growth expand customers, optimize user experience, diversify products, and employ effective marketing for market dominance.
         </p>
       </div>
     </div>
     <div class="services-item col6 animation">
       <h2>Business Strategy</h2>
       <div class="busiStrategy-text-cont">
         <p class="busiStrategy-text" style="text-align: center; margin-top: 20px;">
           Business strategy outlines goals, involves decision-making, resource allocation, and positioning for industry success and sustainability.
         </p>
       </div>
     </div>
    </div>
   </div>
 
<!-- services container end -->


 <!-- client details container start -->

 <div class="clients-details-container animation">
  <div class="data-container">
    <h4>Total Customers</h4>
    <div class="count">
      <p id="total-customers">0</p>
    </div>
  </div>
  <div class="data-container">
    <h4>Optimize site</h4>
    <div class="count">
      <p id="optimize-site">0</p>
    </div>
  </div>
  <div class="data-container">
    <h4>Years of Service</h4>
    <div class="count">
      <p id="years-of-service">2</p>
    </div>
  </div>
  <div class="data-container">
    <h4>Happy Customers</h4>
    <div class="count">
      <p id="happy-customers">0</p>
    </div>
  </div>
</div>

<!-- client details container end -->


<!-- Why choos us container start -->

<div id="chossUs-cont">
  <div class="chossUs-childCont">
  <div class="chossUs-text-cont">
    <div class="chossUs-firstText animation">
     <h6> Why Choos Us</h6>
    </div>
    <div class="chossUs-secondText animation">
      <h1 class="chossUs-secondText">Easy Management for Your Businesses</h1>
    </div>
    <div class="choosUs-discription-parentCont">
      
        <div class="choosUs-discriptions chossUs-col1 animation">
            <h2 style=" font-size: 25px; margin-top: 40px;">Easy Managment</h2>
            <div class="easyManagment-text-cont">
              <p class="easyManagment-text" style=" margin-top: 30px; font-size: 16px;">
                Effortless management simplifies tasks, optimizes workflows, and enhances productivity.
                 Streamlined processes and tools ensure smooth operations, reducing complexity and boosting efficiency in various domains.
              </p>
            </div>
        </div>
        <div class="choosUs-discriptions chossUs-col2 animation">
          <h2 style=" font-size: 25px; margin-top: 40px;">Profile Protection</h2>
          <div class="easyManagment-text-cont">
            <p class="easyManagment-text" style=" margin-top: 30px; font-size: 16px;">
              Profile protection safeguards personal information and online identity.
               It employs security measures, authentication, and privacy settings to mitigate risks and ensure data confidentiality in digital spaces.
            </p>
          </div>
        </div>
        <div class="choosUs-discriptions chossUs-col3 animation">
          <h2 style=" font-size: 25px; margin-top: 40px;">Private Community</h2>
          <div class="easyManagment-text-cont">
            <p class="easyManagment-text" style=" margin-top: 30px; font-size: 16px;">
              A private community is an exclusive online space where members with shared interests or affiliations can interact,
               collaborate, and discuss topics in a secure and restricted environment.
            </p>
          </div>
        </div>
        <div class="choosUs-discriptions chossUs-col4 animation">
          <h2 style=" font-size: 25px; margin-top: 40px;">24/7 Support</h2>
          <div class="easyManagment-text-cont">
            <p class="easyManagment-text" style=" margin-top: 30px; font-size: 16px;">
              24/7 support offers continuous assistance and problem resolution around the clock,
               ensuring immediate help and guidance whenever needed, enhancing customer satisfaction and peace of mind.
            </p>
          </div>
        </div>
      </div>
  </div>
</div>
  </div>



<!-- Why choos us container end -->

  <footer class="footer-container animation">
    <section class="social-media-follow-container animation" style="background-color: #6351ce;">
      <!-- left  -->
      <div class="social-content-container">
        <span>Get connected with us on social networks</span>
      </div>
      <!-- left -->

      <!-- Right -->
      <a href="" class="text-white me-4">
        <i class="fab fa-facebook-f ani"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-twitter ani"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-google ani"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-instagram ani"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-linkedin ani"></i>
      </a>
      <a href="" class="text-white me-4">
        <i class="fab fa-github ani"></i>
      </a>
    </section>

    <section class="footer-content-container">
      <div class="first-footer-container animation">
        <div class="company-name ">
          <a class="navbar-brand navbar-logo" href="#"><img src="Image/ECOMgroww.webp.webp" alt="image"
              class="logo-image"></a>
        </div>
        <div class="aboutus-content-container">
          <span class="aboutus-content">Founded in 2023 by Delhi's youngest entrepreneur A new business called ECOMgroww
            offers services to
            "Optimise your digital growth." ECOMgroww develop helps its clients break the mould of traditional
            business models by helping them develop online. The following services are offered by ECOMgroww: -
            Social Media Management Optimisation for search engines – Facebook ads. -Google AdWords. -Designing
            graphics. - Handling an e-commerce store. - Creation of websites. -Branding. -Consultation for business.
            -ECOMgroww is a group of devoted workers who work together as a family to achieve a greater goal. a
            forward-thinking organisation with a focus on the solutions, products, and services required by small
            businesses.</span>
        </div>
      </div>
      <div class="second-footer-container animation">
        <div class="content">
          <h6 class="text-uppercase fw-bold" style="color: white;">Services</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
        </div>

        <p>
          <a href="#!" class="text-white">Social media markting</a>
        </p>
        <p>
          <a href="#!" class="text-white">E-commerce</a>
        </p>
        <p>
          <a href="#!" class="text-white">Custom Web Developer</a>
        </p>
        <p>
          <a href="#!" class="text-white">SEO</a>
        </p>
        <p>
          <a href="#!" class="text-white">Google & Facebook Ads</a>
        </p>

      </div>

      <div class="third-footer-container animation">
        <div class="content" style="text-align: center;">
          <h6 class="text-uppercase fw-bold" style="color: white;">Navbar links</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
        </div>
        <p>
          <a href="#!" class="text-white">Home</a>
        </p>
        <p>
          <a href="#!" class="text-white">Services</a>
        </p>
        <p>
          <a href="#!" class="text-white">Contact</a>
        </p>
        <p>
          <a href="#!" class="text-white">About us</a>
        </p>
      </div>
      </div>
      <div class="fourth-footer-container animation">
        <div class="content" style="text-align: center;">
          <h6 class="text-uppercase fw-bold">Contact</h6>
          <hr class="mb-4 mt-0 d-inline-block mx-auto" style="width: 60px; background-color: #7c4dff; height: 2px" />
        </div>
        <p><i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
        <p><i class="fas fa-envelope mr-3"></i> info@example.com</p>
        <p><i class="fas fa-phone mr-3"></i> + 01 234 567 88</p>
        <p><i class="fas fa-print mr-3"></i> + 01 234 567 89</p>
      </div>
    </section>
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2); color: white;">
      © 2023 Copyright
      <a class="text-white" href="https://mdbootstrap.com/">ECOMgroww</a>
    </div>
  </footer>


  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-element-bundle.min.js"></script>
  <script>
    // ---------Responsive-navbar-active-animation-----------
    function test() {
      var tabsNewAnim = $('#navbarSupportedContent');
      var selectorNewAnim = $('#navbarSupportedContent').find('li').length;
      var activeItemNewAnim = tabsNewAnim.find('.active');
      var activeWidthNewAnimHeight = activeItemNewAnim.innerHeight();
      var activeWidthNewAnimWidth = activeItemNewAnim.innerWidth();
      var itemPosNewAnimTop = activeItemNewAnim.position();
      var itemPosNewAnimLeft = activeItemNewAnim.position();
      $(".hori-selector").css({
        "top": itemPosNewAnimTop.top + "px",
        "left": itemPosNewAnimLeft.left + "px",
        "height": activeWidthNewAnimHeight + "px",
        "width": activeWidthNewAnimWidth + "px"
      });
      $("#navbarSupportedContent").on("click", "li", function (e) {
        $('#navbarSupportedContent ul li').removeClass("active");
        $(this).addClass('active');
        var activeWidthNewAnimHeight = $(this).innerHeight();
        var activeWidthNewAnimWidth = $(this).innerWidth();
        var itemPosNewAnimTop = $(this).position();
        var itemPosNewAnimLeft = $(this).position();
        $(".hori-selector").css({
          "top": itemPosNewAnimTop.top + "px",
          "left": itemPosNewAnimLeft.left + "px",
          "height": activeWidthNewAnimHeight + "px",
          "width": activeWidthNewAnimWidth + "px"
        });
      });
    }
    $(document).ready(function () {
      setTimeout(function () { test(); });
    });
    $(window).on('resize', function () {
      setTimeout(function () { test(); }, 500);
    });
    $(".navbar-toggler").click(function () {
      $(".navbar-collapse").slideToggle(300);
      setTimeout(function () { test(); });
    });



    // --------------add active class-on another-page move----------
    jQuery(document).ready(function ($) {
      // Get current path and find target link
      var path = window.location.pathname.split("/").pop();

      // Account for home page with empty path
      if (path == '') {
        path = 'index.html';
      }

      var target = $('#navbarSupportedContent ul li a[href="' + path + '"]');
      // Add active class to target link
      target.parent().addClass('active');
    });

 //  main box swiper animation end

  // services container scroll animation start

     const observer = new IntersectionObserver( (entries) => {
        entries.forEach( (entry) => {
          if(entry.isIntersecting){
            entry.target.classList.add("show");
          }else{
            entry.target.classList.remove("show");
          }
        });
     });

     const oddHiddenElement = document.querySelectorAll('.animation');
     let lastScrollPosition = window.scrollY;
     
     window.addEventListener("scroll", function() {
       const currentScrollPosition = window.scrollY;
       
       if (currentScrollPosition > lastScrollPosition) {
         // Scrolling down
         oddHiddenElement.forEach((el) => {
           el.classList.remove('scrollUp-animation');
           el.classList.add('scrollDown-animation');
          })
          
          oddHiddenElement.forEach( (el) => observer.observe(el));
        } else if (currentScrollPosition < lastScrollPosition) {
          // Scrolling up
          
          oddHiddenElement.forEach((el) => {
            el.classList.remove('scrollDown-animation');
            el.classList.add('scrollUp-animation');
          })
          
          oddHiddenElement.forEach( (el) => observer.observe(el));
          
        }
        
        // Update the last scroll position
        lastScrollPosition = currentScrollPosition;
      });
      
      // services container scroll animation end
      </script>

</body>

</html>